/NewFolder/Question01/nbproject/private/
/NewFolder/Question01/build/
/NewFolder/Question01/dist/
/NewFolder/Question02/nbproject/private/
/NewFolder/Question02/build/
/NewFolder/Question02/dist/
/Assignment3/Question01/nbproject/private/
/Assignment3/Question01/build/
/Assignment3/Question01/dist/
/Assignment3/Question02/nbproject/private/
/Assignment3/Question02/build/
/Assignment3/Question02/dist/
/Assignment3/Question03/nbproject/private/
/Assignment3/Question03/dist/
/Assignment3/Question03/build/
/Exam 1/Question01/nbproject/private/
/Exam 1/Question01/build/
/Exam 1/Question01/dist/
/Exam 1/javagonyAlmostIncreasingSequence/nbproject/private/
/Exam 1/javagonyAlmostIncreasingSequence/build/
/Exam 1/javagonyAlmostIncreasingSequence/dist/
/Exam 1/Question02/nbproject/private/
/Exam 1/Question02/dist/
/Exam 1/Question02/build/
